invoke
toml
build
packaging
setuptools
twine

#
# Lint
#
mypy>=2.1.0
ruff>=0.15.20

#
# Unit tests
#
pytest
coverage

#
# Integration tests
#
lit
filecheck==1.0.3

#
# Fuzz tests
#
faker>=40.23.0
lxml>=6.1.1
