invoke
toml
build
packaging
setuptools
twine

#
# Lint
#
mypy>=1.19.1
ruff>=0.15.11

#
# Unit tests
#
pytest
coverage

#
# Integration tests
#
lit
filecheck==0.0.24

#
# Fuzz tests
#
faker>=37.12.0
lxml>=6.1.0
