invoke
toml
build
packaging
setuptools
twine

#
# Lint
#
mypy>=0.910
ruff>=0.9

#
# Integration tests
#
lit
filecheck==0.0.24

# Integration tests use PyPDF to check the contents of the printed PDF.
pypdf==3.9.0
